label {
	display: block;
}

body {
	width: 90%; 
	margin: 0 auto; 
}

#header > h2 {
	font-family: 'Playfair Display', serif;
	font-size: 4em;
}

#header {
	text-align: center;
}

.cover {
	float: left;
	overflow:hidden;
	margin-right: 20px;
	margin-bottom: 10px;
}

.review {
}


h4 {
	font-size: 2em;
	margin: 0px;
	margin-bottom: 0px;
}

.top_container {
	width: 100%;
	height: auto;
	display: block;
	margin: 0px;
}

.quotes {
	margin-top: 10px;
	clear: left;
}

.notes > ul {
	list-style-type: none;
}

h5 {
	font-size: 1.5em;
	margin: 0px;
}

h2 a {
	text-decoration: none;
	color: inherit;
}

h2 a:hover {
	text-decoration: underline;
}

.booklist {
	list-style-type: none;
	display: block;
}

.booklist li {
	display: inline;
	margin-right: 10px;
	margin-bottom: 20px;
}

.book-box {
	width: 150px;
	height: 230px;
	position: relative;
	text-align: right;
	float: left;
}

.book-box img {
	width: 150px;
	height: 230px
}

.book-box div {
	display: none;
	position: absolute;
	background-color: white;
	top: 0px;
	left: 0px;
	font-size: 1em;
	width: 100%;
	height: 100%;
	text-align: center;
	vertical-align: middle;
	opacity: 1;
}

.visible {
	display: inline;
}

.book-box span{
	background-color: white;
	color: black;
	opacity: 1;
}

.book-box:hover div {
	display: block;
}

#footer {
	clear: left;
	display: block;
}

.booklist_holder {
	clear: left;
	display: block;
	margin-bottom: 20px;
}

.ui-datepicker {
	font-family: inherit;
	font-size: 0.6em;
}

a {
	color: inherit;
}

ul, ol {
	list-style-type: none;
	margin: 0; 
	padding: 0;
}

hr {
    border: 0;
    height: 1px;
    background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); 
    background-image:    -moz-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); 
    background-image:     -ms-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); 
    background-image:      -o-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); 
}

.quotes {
	margin-bottom: 20px;
}